.projects {
    height: 100%;
    transition: 1.5s cubic-bezier(0,0,0.25,1);
}

.project-item {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #969600;
    font-size: 100px;
    color: white;
    transform: skew(0);
}

.project-item-logo {
    display: flex;
    justify-content: center;
    transition: 1.5s ease-out;
}

.project-item-logo img {
    width: 40%;
}

.project-item-logo-before {
    transform: skew(-10deg) translateX(-100px);
}

.project-item-logo-after {
    transform: skew(10deg) translateX(-100px);
}
