.preview-img-wrapper {
    position: relative;
    margin-bottom: 100px;
    overflow: hidden;
}

.add-project {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: rgba(255, 255, 255, .05);
    overflow: hidden;
    transition: .3s;
    cursor: pointer;
}

.add-project:hover {
    background: rgba(255, 255, 255, .08);
}

.add-project:hover .add-project-plus-icon {
    width: 20%;
}

.add-project-plus-icon {
    width: 10%;
    transition: .15s ease-out;
}

.input-file {
    display: none;
}

.preview-actions-container {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    box-shadow: 0 -1px 15px 0 rgba(0,0,0,0.7);
    transform: translateY(100%);
    transition: .3s ease-out;
    z-index: 100;
}

.preview-action {
    flex-basis: 50%;
    padding: 10px 0;
    background: rgba(0, 0, 0, .8);
    color: #c9c9c9;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

.preview-img-wrapper:hover .preview-actions-container {
    transform: translateY(0);
}
